{% extends 'learning_logs/base.html' %}
{% block page_header %}
<h1> Add a new Entry:</h1>
{% endblock page_header %}

{% block content %}
<div class="card mb-3">
    <p>
  <a "btn btn-primary btn-lg mt-1"  href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
</p>

<form action="{% url 'learning_logs:new_entry' topic.id %}" method="post">
    {% csrf_token %}
    {{ form.as_p}}
    <button class="btn btn-primary" name="submit">Add Entry</button>
</form>
</div>

 {% endblock content %}